################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FileArchive/.vs/FileArchive
/FileArchive/x64/Debug
/FileArchive/FileArchive/x64/Debug/FileArchive.tlog
/FileArchive/FileArchive/x64/Debug
/FileArchive/backup/x64/Debug
